.task-paper{
    margin: 1% 0 0 0;
    padding: 0.5% 0 0.5% 1% !important;
    font-size: 20px !important;
    color: #fff !important;
}

.reccuring{
    background-image: linear-gradient(to right, #485051, #485051 99.2%, #a9e3f3 99.2%, #a9e3f3 100%) !important;
}

.one-time{
    background-image: linear-gradient(to right, #485051, #485051 99.2%, #f3c1a9 99.2%, #f3c1a9 100%) !important;
}
.task-name{
    margin-top: 0.7% !important;
}

.task-days{
    margin-top: 0.7% !important;
    color: #8e8e8e;
}

.task-type{
    height: 100%;
    width: 12px;
    background: white;
    float: right;
}

/* Strikethrough */

.strikethrough {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough:after {
	content: '';
    position: absolute;
    display: block;
    width: 120%;
    margin-left: -7px;
    height: 2px;
    box-shadow: 0 1px rgb(160 160 160 / 60%);
    margin-top: -0.6em;
    background: #fffbfb78;
    transform-origin: center left;
    animation-name: strikethrough;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.55, 0, .1, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

/* Keyframes for initial animation */

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

