.home-head{
    text-align: left;
    padding: 1%
}

.home-text-head{
    margin-bottom: 15px;
}

.greeting{
    font-size: 20px;
    margin-bottom: 0;
    /* color: #fdfd99; */
}

.date-mark{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.motivation{
    font-weight: 200;
    color: #fdfd99;
    font-size: 20px;
    margin-top: 10px;
}

.MuiDivider-light	{
    background-color: #4c4c4c !important;
}