.home-head{
    text-align: left;
    padding: 1%
}

.home-text-head{
    margin-bottom: 15px !important;
    margin-top: 25px !important;
}
.greeting{
    font-size: 17px;
    margin-bottom: 0;
    /* color: #fdfd99; */
}

.date-mark{
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 0;
}

.motivation{
    font-weight: 200;
    color: #99c7b9;
    font-size: 20px;
    margin-top: 10px;
}

.MuiDivider-light	{
    background-color: #4c4c4c !important;
}

.MuiAccordion-root{
    color: white !important;
    background: #47505159 !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    /* height: 6vw !important; */
}

.MuiAccordionSummary-content{
    font-size: 20px !important;
    /* margin-left: 43% !important; */
    /* margin-top: 25px !important; */
}